<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div>
        <p>Welcome to Mimir! This software was designed with the thought of explore the web and save knowledge</p>
        <br>
        <a href="http://localhost:7200/sparql">
            <button>Go to SparkQL query service</button>
        </a>
        <a href="/mimir_oracles">
            <button>Ask Mimir?</button>
        </a>
        <a href="/mimir_wiki">
            <button>Go to own Mimir-Wiki</button>
        </a>
        <a href="/knowledge_search">
            <button>Search new knowledge</button>
        </a>
    </div>

</body>
</html>